.wrapper-login {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.wrapper-login .login {
    height: 100%;
    display: flex;
    width: 80%;
    align-items: center;
}

.wrapper-login .login .formContainer {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper-login .login .formContainer .caption {
    color: #edac15;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 1.4px;
}

.wrapper-login .login .formContainer .password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.wrapper-login .login .formContainer .password-container input {
    width: 100%;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.wrapper-login .login .formContainer .password-container .toggle-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.wrapper-login .login .formContainer .password-container .toggle-icon:hover {
    color: #333;
}

.wrapper-login .login .formContainer form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.wrapper-login .login .formContainer form input {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.wrapper-login .login .formContainer form .signInBtn {
    display: flex;
    gap: 4px;
    justify-content: space-between;
}

.wrapper-login .login .formContainer form .signInBtn .secoundary {
    display: flex;
    align-items: center;
    gap: 6px;
}

.wrapper-login .login .formContainer form .signInBtn .secoundary svg {
    color: #fff;
}

.wrapper-login .login .formContainer form span {
    color: rgba(255, 0, 0, 0.591);
}

.wrapper-login .login .formContainer form a {
    font-size: 14px;
    color: gray;
    border-bottom: 1px solid gray;
    width: max-content;
}

.wrapper-login .login .imgContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-login .login .imgContainer img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.signInBtn .btn-primary {
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.26;
    padding: 19px 40px 17px;
    color: #fff;
    background-color: #edac15;
    cursor: pointer;
}

.signInBtn .btn-secondary {
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.26;
    padding: 19px 40px 17px;
    color: #fff;
    background-color: #3c3c3c;
    cursor: pointer;
}